*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10vh 30vh 30vh 30vh 10vh;
  background-color: #222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  grid-area: 2 / 2 / 5 / 6;
  display: flex;
  flex-direction: column;
  background-color: #343434;
}

.container{
  display: flex;
}

#photo{
  width: 40%;
}

h1{
  margin-bottom: 2vh;
}

.community{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30vh;  
}

.community div i{
  font-size: 4vh;
}

.community div a{
  font-size: 4vh;
}

@media screen and (max-width: 500px) {

  body {
    width: 100vw;
  }
  main{
    grid-area: 2 / 1 / 5 / 7;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  #photo{
    width: 80vw;
  }

  .community{
    margin: 0;
  }
}
