html {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10vh 1fr 1fr 1fr 10vh;
  background-color: #222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body i {
  font-family: "FontAwesome" !important;
}

main {
  grid-area: 2 / 2 / 5 / 6;
}

.container {
  width: 80vw;
}

.sliderContainer {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  height: 85vh;
}

.swiper-slide {
  position: relative;
}

.movieData {
  position: absolute;
  top: 0;
  padding: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.722) 10%,
    rgba(0, 0, 0, 0.459) 40%,
    rgba(0, 0, 0, 0) 55%
  );
}

.movieData h1 {
  color: #fff;
  font-size: 3.5rem;
  text-shadow: #000000 0 0 10px;
}

.movieData p {
  width: 80%;
  height: 60%;
  color: #bbd111;
  text-shadow: #000000 0 0 5px;
  font-size: 1.4rem;
  font-weight: 800;
}

.swiper-slide img {
  width: 100%;
}

#spanRunTime {
  position: absolute;
}

.timeDataGenreClass {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeDataGenreClass > div:nth-child(1) {
  width: 20%;
  display: flex;
  align-items: center;
}
.timeDataGenreClass > div:nth-child(2) {
  width: 20%;
  display: flex;
  align-items: center;
}
.timeDataGenreClass > div:nth-child(3) {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#releaseDateId {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0 1% 0 1%;
  margin: 0.1rem;
  margin-left: 0.8rem;
  background-color: rgba(77, 77, 77, 0.53);
  color: #bbd111;
}

#runTimeId {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0 1% 0 1%;
  margin: 0.1rem;
  margin-left: 0.8rem;
  background-color: rgba(77, 77, 77, 0.53);
  color: #bbd111;
}

#genresId {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0 1% 0 1%;
  margin: 0.1rem;
  margin-left: 0.8rem;
  background-color: rgba(77, 77, 77, 0.53);
  color: #bbd111;
}

.navBarTrending {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navBarTrending h1 {
  color: #bbd111;
}

.btnTrendingContainer span {
  color: #bbd111;
}

.moviesContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 1vw;
  margin: 1vw 0 05vw 0;
}

.movieCard {
  width: 15vw;
  position: relative;
  border-radius: 5px;
}

#movieCardImg {
  width: 15vw;
  border-radius: 5px;
}

.movieDataTrending {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  padding: 10%;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
}

.movieDataTrending:hover {
  opacity: 1;
  background-color: #00000051;
}

.titleDateContainer h2 {
  color: #fff;
  text-shadow: #000000 0 0 10px;
}

.titleDateContainer p {
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0 1% 0 1%;
  margin: 0.1rem;
  background-color: rgba(77, 77, 77, 0.53);
  color: #bbd111;
}
.runTimeRateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.runTimeRateContainer p {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  padding: 0 1% 0 1%;
  margin: 0.1rem;
  background-color: rgba(77, 77, 77, 0.53);
  color: #bbd111;
}

.btnPageContainer {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 5vw;
}

@media screen and (max-width: 500px) {
  main {
    grid-area: 2 / 1 / 5 / 7;
  }

  .container {
    width: 100vw;
  }
  .sliderContainer {
    height: 70vh;
    margin: 5vh 2vh 5vh 2vh;
    border-radius: 10px;
    overflow-x: hidden;
  }
  .swiper {
    height: 100%;
    border-radius: 5px;
  }
  .swiper-slide img {
    position: sticky;
    height: 100%;
    border-radius: 10px;
  }

  .movieData h1 {
    font-size: 10vw;
  }

  .movieData p {
    font-size: 1.2rem;
  }

  .timeDataGenreClass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .timeDataGenreClass > div:nth-child(1) {
    width: 100%;
  }
  .timeDataGenreClass > div:nth-child(2) {
    width: 100%;
  }
  .timeDataGenreClass > div:nth-child(3) {
    width: 100%;
  }
}
