*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10vh 30vh 30vh 30vh 15vh;
  background-color: #222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  grid-area: 2 / 2 / 5 / 6;
  display: flex;
  flex-direction: column;
  background-color: #343434;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.722) 10%,
    rgba(0, 0, 0, 0.459) 40%,
    rgba(0, 0, 0, 0) 55%
  );
}

#photo{
  width: 50%;
  height: 90%;
  align-self: center;
  border: 3px solid wheat;
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

.community{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 5vh;
  font-size: 10vh;
  color: white;
}

span{
  color: #bbd111;
}

.linksIncons a{
  font-size: 4vh;
  color: khaki;
}

.linksIncons i{
  font-size: 4vh;
  margin-right: 2vh;
  color: #525252;
}


@media screen and (max-width: 500px) {

  body {
    width: 100vw;
    grid-template-rows: 10vh 1fr 1fr 10vh;

  }
  main{
    grid-area: 2 / 1 / 5 / 7;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  #photo{
    width: 80vw;
  }

  .community{
    margin: 0;
    margin-bottom: 15vh;
  }

  h1{
    font-size: 7vh;
  }
}
